# Ignore compiled Python files
*.pyc

# Ignore pipenv virtual environment
/.venv

# Ignore local development settings
/.env

# Ignore logs
/logs

# Ignore any build artifacts
/build

# Ignore any test coverage reports
/coverage

# Ignore any cache directories
__pycache__/
